*{
    box-sizing: border-box;
    padding: 0;
    font-family: 'Sen',sans-serif;
    scroll-behavior: smooth;
    color: #FFFFFF;
}

.arrow{
    position: absolute;
    bottom: 0;
    left: 556px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(231, 231, 231, 0.3);
    text-align: center;
    vertical-align: middle;
}

.arrow .fa{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

body{
    position: relative;
    max-width: 1440px;
    max-height: 2458px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.btnClose{
    position: absolute;
    text-align: center;
    line-height: 20px;
    border: 1px solid  #828282;
    border-radius: 50%;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    left: 573px;  
    top: 32px;
}

.contact{
    width: 360px;
    height: 205px;
    padding-top:78px;
    margin: 0 auto;
    text-align: center;
}

.contact__box{
    width: 24px;
    height: 24px;
    margin-right: 1px;
    vertical-align: middle;
}

.contact__button{
    margin-top: 37px;
    width: 95px;
    height: 46px;
    background-color: #38A5DB;
    border-radius: 23px;
    border:none;
    cursor: pointer;
    outline: none;
}

.contact__checkbox{
    width: 118px;
    height: 24px;
    margin-top: 24px;
}

.contact_checkbox_label{
   font-size: 17px;
   line-height: 20.45px;
   display: inline-block;
   vertical-align: middle;
}

.contact__form{
    display: flex;
    flex-direction: column;
    width: 401px;
    height: 370px;
    background-color: #4250BF;
    border-radius: 13px;
    margin: 40px auto;
}

.contact__input{
    width: 319px;
    height: 288px;
    margin: 0 auto;
}

.contact__input__email{
    margin-top: 24px;
    width: 319px;
    height: 46px;
    border-radius: 25px;
    border: none;
    color: black;
    padding-left: 20px;
    font-size: 17px;
    outline: none;
}

.contact__input__name{
    margin-top: 84px;
    width: 319px;
    height: 46px;
    border-radius: 25px;
    border: none;
    color: black;
    padding-left: 20px;
    font-size: 17px;
    outline: none;
}

.contact__text{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}

.contact__title{
    line-height: 34px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 12px;
    margin-bottom: 26px;
}

nav{
    height: 70px;
    display: flex;
    position: -webkit -sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #FFFFFF;
}

.nav__logo{
    height: 39px;
    width: 96px;
    text-align: center;
    margin-left: 136px;
    margin-top: 16px;
}

.nav__navbar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    height: 19px;
    right: 137px;
    top: 24px;
}

.nav__navbar__link{
    text-decoration: none;
    color: #1C2085;
    font-size: 16px;
    margin-left: 41px;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
}

.nav__navbar__link:hover{
    border-color: #1C2085;
    transition: .6s;
}

header{
    position: relative;
    width: 100%;
    height: 908px;
}

.header__background{
    position: relative;
    width: 100%;
    height: 100%;
}

.header__background__img1{ 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
}

.header__background__img2{
    position: absolute;
    top: -70px;
    left: 0;
    z-index: -1;
    width: 100%;
}

.header__background__img3{
    position: absolute;
    top: -62.67px;
    left: 0;
    z-index: -2;
}

.header__container{
    position: absolute;
    max-width: 1244px;
    max-height: 652px;
    width: 100%;
    height: 100%;
    left: 135px;
    top: 126px;
}

.header__title{
    position: absolute;
    width: 569px;
    left:1px;
    top: 80px;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.header__subscribe{
    position: absolute;
    height: 95px;
    left: 1px;
    bottom: 184px;
    font-weight: 400;
}

.header__text{
    font-size: 18px;
    opacity: 70%;
    line-height: 18px;
}

.header__send{
    position: relative;
    margin-top: 18px;
    width: 568px;
    height: 46px;
}

.header__send__input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
    outline: none;
    color: black;
    padding-left: 20px;
    font-size: 17px;
}

.header__send__button{
    position: absolute;
    width: 154px;
    height: 100%;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 17px;
    background: #38A5DB;
    outline: none;
    border:none;
    border-radius: 25px;
    z-index: 2;
    right: 0px;
    color: #FFFFFF;
    cursor: pointer;
}

.header__video__player{
    float: right;
    border-radius: 6px;
    height: 382px;
    width: 544px;
    object-fit: fill;
}

.header__social{
    position: absolute;
    bottom: 72px;
    right: 34px;
    width: 40px;
}

.header__social__circle{
    height: 40px;
    background-color: #63C7FF;
    border-radius: 19px;
    color: #DADADA;
    margin-top: 12px;  
}

.header__social__circle .fa{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
} 

.header__social__circle .fa-facebook{
    transform: translatex(-3px);
}

.fa{
    width: 43px;
    height: 23px;
    color: #001832;
    vertical-align: baseline;
    text-decoration: none;
}

.four{
    left: 15px;
    top: 80px;
    transform: scale(2.4);
}

footer{
    position: relative;
    height: 225px;
    background-image: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);;
}

.footer__bottom{
    max-width: 811px;
    height: 22px;
    margin: 56px auto;
}

.footer__bottom__li{
    border-left: 2px solid #9CA4C7;
    color: #45515F;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    width: 200px;
    list-style: none;
}

.footer__bottom__li:first-child{
    border-left: none;
}

.footer__bottom__ul{
    display: flex;
    text-align: center;
}

.footer__button{
    width: 220px;
    height: 46px;
    background-color: #38A5DB;
    margin-top: 48px;
    margin-left: 182px;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
    cursor: pointer;
    outline: none;
}

.footer__container{
    width: 370px;
    margin-top: 40px;
}

.footer__logo{
    margin-left: 135px;
    margin-top: 48px;
    margin-right: 300px;
}

.footer__mail{
    color: #0F81FF;
    font-size: 20px;
    line-height: 24.06px;
    letter-spacing: 0.4px;
}

.footer__text{
    color: #263396;
    margin-bottom: 16px;
    line-height: 19.25px;
    letter-spacing: 0.32px;
}

.footer__top{
    display: flex;
    text-align: center;
    letter-spacing: 0.32px;
    line-height: 19.25px;
}

.is-blurred {
    -webkit-filter: opacity(.3);
    filter: opacity(.3);
    background-color: #252B42;
  }

main{
    height: 545px;
}

.modal{
    background-color:white;
    position: absolute;
    top: 800px;
    left:400px;
    width: 630px;
    height: 744px;
    border-radius: 20px;
    display: none;
    z-index: 5;
}

.modal-body{
    height: 570px;
    overflow-y: auto;
    left:31px;
    bottom: 50px;
}

.modal-dialog{
    overflow-y: initial !important;
    max-width: 0 auto;
    margin-bottom:50px;
    width: 514px;
}

section{
    background-color:#252B42;
    height: 670px;
}

.team{
    display: flex;
    max-width: 1171px;
    width: 100%;
    height: 457px;
    margin: 0 auto;
    justify-content: space-between;
}

.team__container{
    max-width: 1171px;
    max-height: 457px;
    width: 100%;
    height: 100%;
    margin: 40px auto 0;
}

.team_main{
    text-align: center;
    width: 100%;
    color: #1C1F83;
    line-height: 34px;
    font-size: 16px;
    letter-spacing: 12px;
}

.team__member{
    width: 131px;
    height: 131px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    cursor: pointer;
}

.team__member__photo{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 55px;
    left: 0;
    transform: scale(2);
    object-fit: contain;
}

.team__members{
    width: 270px;
    height: 378px;
    text-align: center;
    margin-top: 44px;
}

.team__name{
    height: 34px;
    color: #38A5DB;
    font-size: 24px;
    line-height: 34px;
    margin-top: 16px;
}

.team__note{
    height: 96px;
    font-size: 18px;
    color: #45515F;
}

.team__position{
    height: 18px;
    color: #011226;
    line-height: 17.7px;
    font-size: 13px;
    font-family: "Open Sans";
    margin: 8px 0 16px 0;
}

.team__social{
    display: inline;
    border: 1px solid rgba(127, 139, 152, 0.3);
    border-radius: 3px;   
}

.team__socials{
    height: 23px;
    margin-top:32px;
}

.three{
    transform: scale(2.05);
    top:65px;
}

.title{
    height: 545px;
}

.two{
    transform: scale(1.1);
    top:5px;
    object-fit: cover;
}

#close{
    color: #828282;
    font-size: 38px;
}

#modal__id{
    text-align: center;
    width: 630px;
    margin-top: 72px;
    height: 34px;
    font-size: 40px;
    line-height: 34px;
    color: #38A5DB;
}

#modal__position{
    text-align: center;
    height: 18px;
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.26px;
    width: 630px;
    color: #011226;
}

#modal__text{
    position: absolute;
    width: 514px;
    height: 570px;
    left: 60px;
    bottom: -20px;
    font-size: 18px;
    color: #45515F;
}

@media (max-width: 1441px) {

    .arrow{
        position: absolute;
        bottom:692px;
        left: 355px;
    }

    body{
        max-height: 2858px;
    }

    .footer__logo{
        margin-left: 15px;
        margin-right: 84px;
    }

    .footer__bottom__ul{
        margin-left: 47px;
    }

    .footer__bottom__li{
        width: 174px;
    }

    .footer__button{
        margin-left: -32px;
    }

    header{
        height: 1322px;
    }

    .header__background{
        overflow: hidden;
    }

    .header__background__img1{
        top: 240px;
        left: 100px;
        transform: scale(2);
    }

    .header__background__img2{
        transform: scale(2);
        top: 100px;
    }

    .header__background__img3{
        top:-20px;
        left: -240px;
    }

    .header__container{
        left:1px;
        height: 1322px;
        max-height: 1322px;
    }

    .header__social{
        position: absolute;
        bottom: 575px;
        right: 15px;
    }

    .header__subscribe{
        left: 78px;
        bottom: 876px;
    }

    .header__title{
        left: 80px;
        top: 2px;
    }

    .header__video__player{
        position: absolute;
        bottom: 126px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .modal{
        top: 1440px;
        left:78px;
        width: 613px;
    }

    .nav__logo{
        margin-left: 16px;
    }

    .nav__navbar{
        right: 15px;
    }

    section{
        height: 693px;
    }

    .slider-y{
        overflow-y: auto;
    }

    .team{
        margin: 0 15px;
        overflow: hidden;
        width: 200%;
    }

    .team__main{
        margin-top: 56px;
    }

    .team__member{
        margin: 0 auto 16px;
    }

    .team__members{
        margin-top: 24px;
    }
}

@media (max-width: 767px){

    .arrow{
        height: 30px;
        width: 30px;
        left: 145px;
        top: 442px;
    }

    .arrow .fa{
        font-size: 16px;
        line-height: 30px;
        width: 15px;
    }

    .btnClose{
        left: 232px;
    }

    .contact{
        width: 265px;
        height: 95px;
        padding-top: 88px;
    }

    .contact__box{
        width: 1;
    }

    .contact__checkbox{
        margin-top: 37px;
    }

    .contact__form{
        margin: 145px auto;
        width: 288px;
    }

    .contact__input{
        width: 256px;  
    }

    .contact__input__email{
        width: 256px;
    }

    .contact__input__name{
        width: 256px;
    }

    .contact__title{
        height: 33px;
    }

    .contact__text{
        font-size: 14px;
        line-height: 18px;
    }

    footer{
        height: 365px;
    }

    .footer__bottom{
        display: flex;
        height: 64px;
        width: 288px;
        margin: 0;
    }

    .footer__bottom__ul{
        margin-left: 16px;
        flex-wrap: wrap;
    }

    .footer__bottom__li{
        font-size: 12px;
        border:none;
        width: 136px;
    }

    .footer__button{
        margin: 40px auto;
    }

    .footer__container{
        width: 100%;
    }

    .footer__logo{
        margin-left: 16px;
        margin-top: 32px;
    }

    .footer__logo img{
        width: 55px;
        height: 22px;
    }

    .footer__top{
        flex-wrap: wrap;
    }

    header{
        height: 752px;
    }

    .header__background__img1{
        top: 270px;
        left: 120px;
    }

    .header__background__img2{
        top: 20px;
        transform: scale(5);
    }

    .header__background__img3{
        top: -385px;
        left: -430px;
    }

    .header__container{
        height: 752px;
        top: 0;
        margin: 0 auto;
    }

    .header__send{
        margin-top: 8px;
        width: 100%;
    }

    .header__send__button{
        left: 0;
        top: 62px;
        width: 287px;
    }

    .header__send__input{
        width: 287px;
        height: 46px;
    }

    .header__social{
        right: 26px;
        top: 430px
    }

    .header__social__circle{
        width: 30px;
        height: 30px;
    }

    .header__social__circle .fa{
        line-height: 30px;
        font-size: 19px;
        width: 31px;
    }

    .header__subscribe{
        left: 19px;
        top: 260px;
        height: 142px;
        width: 287px;
    }

    .header__text{
        font-size: 14px;
    }

    .header__title{
        font-size: 24px;
        height: 160px;
        width: 287px;
        margin: 0 auto;
        top: 48px;
        left: 17px;
    }

    .header__video__player{
        width: 288px;
        height: 200px;
        top: 552px;
    }

    main{
        height: 496px;  
      }

    .modal{
        top: 615px;
        left:16px;
        width: 288px;
        height: 861px;
    }

    .modal__dialog{
        width: 288px;
    }

    #modal__id{
        width: 55%;
        font-size: 24px;
    }

    #modal__text{
        font-size: 13px;
        width: 258px;
        height: 648px;
        margin-left: -45px;
        bottom: 1px;
    }

    #modal__position{
        width: 55%;
    }

    .nav__logo{
        text-align:unset;
        margin-top:24px;
    }
    
    .nav__logo img{
        height: 22px;
        width: 56px;
    }

    .nav__navbar{
        right: 0;
    }

    .nav__navbar__link{
        margin-right: 24px;
        margin-left: 0;
    }

    section{
        height: 681px;
    }

    .team{
        overflow: hidden;
        padding: 0 15px;
        margin: 0;
    }

    .team__container{
        max-height: 496px;
    }

    .team__members{
        height: 310px;
        width: 136px;
        
    }

    .team__member{
        width: 115px;
        height: 115px;
        margin-top: 0;
        margin: 8px auto;
    }

    .team__name{
        font-size: 15px;
        margin-top: 0;
        width: 136px;
    }

    .team__note{
        font-size: 12px;
        height: 90px;
    }

    .team__position{
        margin: 0 0 8px
    }

    .team__socials{
        margin-top: 14px;
    }

    .three{
        transform: scale(2.15);
    }
}